fastapi
uvicorn[standard]
pydantic
pytest
httpx
sqlalchemy
psycopg2-binary
python-dotenv
alembic
asyncpg
python-jose[cryptography]
email-validator
pwdlib[argon2]
pgvector
pytest-asyncio
redis
langfuse
instructor
groq
sentence-transformers
datasets
peft
trl
mlflow
slowapi
python-json-logger